[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
authlib = ">=1.0"
requests = ">=2.27.1"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
