<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>Guest Book</title>
</head>
    <div class="pure-g" style="padding: 2em;">
        <div class="pure-u-1 pure-u-md-2-3">
            <h1>Guestbook:</h1>
            {% if guest %}
                <table class="pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in guest %}
                        <tr>
                            <td>{{ info.firstname }}</td>
                            <td>{{ info.lastname }}</td>
                            <td>{{ info.phone }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
</head>