<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>Guest Book</title>
</head>
<body>
    
<h1>Join the Guestlist</h1>

<!-- auth -->
{% if session %}
        <h1>Welcome {{session.userinfo.name}}!</h1>
        <p><a href="/logout">Logout</a></p>
        <div><pre>{{pretty}}</pre></div>
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
{% endif %}
<!-- auth -->

<div class="form-container">
    <form class="pure-form-stacked" action="/submit_form" method="post">
    <fieldset>
        <legend>Guestbook Info</legend>
        <label for="firstname">First name:</label>
            <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>
        <label for="lastname">Last name:</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>
        <label for="phone">Phone number:</label>
            <input type="number" id="phone" name="phone" placeholder="Enter your phone number" required>
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
</form>
</div>

</body>
</html>